<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"
      integrity="sha384-xxzQGERXS00kBmZW/6qxqJPyxW3UR0BPsL4c8ILaIWXva5kFi7TxkIIaMiKtqV1Q"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="/css/style__bulletinboard.css"
      type="text/css"
    />

    <link rel="stylesheet" href="/css/style__navbar.css" type="text/css" />
    <title>WebBoard</title>
  </head>
  <body>
    <%- include ("./layout/navbar") %>
    <section id="home">
      <div class="board__name">
        <a href="/board?mid=bulletin&page=1">자유 게시판</a>
      </div>
      <div class="table__searchandwrite">
        <div class="table__search">검색</div>
        <div class="table__write">
          <%if(user){%>
          <a href="/boardwrite?mid=bulletin">쓰기</a>
          <%}%>
        </div>
      </div>
      <div class="boardContainer">
        <table class="bulletintable">
          <thead>
            <tr>
              <th class="title">제목</th>
              <th class="author">글쓴이</th>
              <th class="recommand">추천 수</th>
              <th class="date">날짜</th>
            </tr>
          </thead>
          <tbody>
            <%if(post.length != 0){%>
              <%if(post.length < 16){%>
                <%for(let i=0; i<post.length; i++){%>
                  <tr>
                    <td class="title_d">
                      <a href="/board/bulletinboard/<%=post[i].id%>?page=<%=page%>">
                        <%= post[i].title %>
                      </a>
                    </td>
                    <td class="author_d"><%= post[i].userid %></td>
                    <td class="recommand_d"><%= post[i].thumbsup %></td>
                    <% let year = post[i].updatedAt.getFullYear() %>
                    <% let month = 1 + post[i].updatedAt.getMonth() %>
                    <% month = month >= 10 ? month : "0" + month %>
                    <% let day = post[i].updatedAt.getDate() %>
                    <% day = day >= 10 ? day : "0" + day %>
                    <td class="date_d"><%= year + "." + month + "." + day;%></td>
                  </tr>
                <%}%>
              <%}else{%>
                <%for(let i=(page-1) * 15; i<15*page; i++){%>
                  <% if(i == post.length){break;} %>
                  <tr>
                    <td class="title_d">
                      <a href="/board/bulletinboard/<%=post[i].id%>?page=<%=page%>">
                        <%= post[i].title %>
                      </a>
                    </td>
                    <td class="author_d"><%= post[i].userid %></td>
                    <td class="recommand_d"><%= post[i].thumbsup %></td>
                    <% let year = post[i].updatedAt.getFullYear() %>
                    <% let month = 1 + post[i].updatedAt.getMonth() %>
                    <% month = month >= 10 ? month : "0" + month %>
                    <% let day = post[i].updatedAt.getDate() %>
                    <% day = day >= 10 ? day : "0" + day %>
                    <td class="date_d"><%= year + "." + month + "." + day;%></td>
                  </tr>
                <%}%>
              <%}%>
            <%}%>
          </tbody>
        </table>
        <div class="boardList">
          <%if(post.length != 0){%>
            <%if(post.length < 16){%>
              <ul class="pageCount">
                <li class="active">
                  <a>1</a>
                </li>
              </ul>
            <%}else{%>
              <% let totalPage = Math.floor(post.length / 15) %>
              <ul class="pageCount">
                <% for(let i=0; i<=totalPage; i++){ %>
                  <% if(i+1 == page){%>
                    <li class="active">
                      <a><%= i+1 %></a>
                    </li>
                  <%}else{%>
                    <li class="notActive">
                      <a href="/board?mid=bulletin&page=<%=i+1%>"><%= i+1 %></a>
                    </li>
                  <%}%>
                <%}%>
              </ul>
            <%}%>
          <%}%>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="copyright">Copyright (c) All Right Reserved.</div>
    </footer>
  </body>
</html>
